venv/
.env
__pycache__
*__pycache__
cache/
**/*.DS_Store
# Ignore any file anywhere with 'etrade_token' in the filename
**/*etrade_token*
*etrade_token*
models/.DS_Store
encryption/*.enc
encryption/*.key
encryption/etrade_tokens*
encryption/etrade_tokens_prod.json
logs/
/encryption/token_status.json
data/
scratch_logs/