schedule
requests
python-dotenv
cryptography
schedule
scipy
requests_oauthlib
pyetrade
pydantic
prompt_toolkit
feedparser
dacite
yfinance<0.2.65
watchdog
dotenv
cryptography
requests_oauthlib
transformers==4.55.4
torch==2.8.0
safetensors>=0.4.2
sentencepiece
holidays